/node_modules
.env
/logs
/logs/errLog.txt
/logs/reqLog.txt
profile.publishsettings
.DS_Store
Dockerfile
node_modules/
logs/
*.log
logs
logs/errLog.txt
logs/reqLog.txt
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test